---
---
@import "{{ site.theme }}";
header {
  .subtitle {
    text-align: center;
  }
  h1 {
    text-align: center;
    margin: 0 0 5px;
  }
  img {
    border-radius: 50%;
    display: block;
    margin: 10px auto 10px auto;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: center;
  }
}

body {
  h2 {
    margin: 0 0 5px;
  }
  td {
    border-bottom: 0px solid white;
  }
  h3 {
    margin: 0 0 5px;
  }
  p {
    margin: 0 0 5px;
  }
}
