---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}

body {
  h2 {
    margin: 0 0 5px;
  }
  td {
    text-align: left;
    padding: 5px 10px;
  }
}
